<footer id="contactus">
  <div class="container" id="contacts">

      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="contact">
        
      </div>
    </div>
    <div class="social-spece">
      <h3 style="font-family: 'DKpen', sans-serif;color:#22ADC2;font-size:44px;font-weight:500;text-align:center;">HOW YOU CAN SUPPORT US</h3>
      <br />
      <br />
      <br />

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="social">
            <h3>ARE YOU A PARENT?</h3>
            <p>Sign up for our brief user interview or UX testing of our first prototype. Our team can meet you in person if you live in Hong Kong, Singapore or the Bay Area or set up an online call anytime that suits you. </p>
            <div class="dwonload" style="float:left;"> <a target="_blank" href="http://eepurl.com/caJHJb">Yes, I'll help!</a> </div>
            <br />
            <br />
            <br />
            <br />
            <br />
       </div>
        </div>
      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="social">
        <h3>READ OUR NEWSLETTER!</h3>
        <p>We are constantly researching various studies about early childhood education and conducting our own research into modern parenthood. <br />
          Sign up for our newsletter to receive best parenting tips each month! </p>

          <div class="dwonload" style="float:left;"> <a target="_blank" href="http://eepurl.com/caJGcr">Send me tips</a></div>

        </div>
          
    </div>
  </div>
  </div>
  </footer>
